{% extends 'base.html' %}
{% block content %}
    <section class="section-conten padding-y mr-3 ml-3" style="min-height:55vh">
        <div class="container mx-auto alert alert-info text-center mt-5" style="max-width: 580px; font-size:17px; padding:20px" role="alert">
            <div class="icon-wrapper mb-3">
                <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-mail">
                    <path d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z"></path>
                    <polyline points="22,6 12,13 2,6"></polyline>
                </svg>
            </div>
            If an account exists for this email, password reset instructions have been sent.
            <br>
        </div>
    </section>
{% endblock content %} 
